스토리지의 95% 사용됨 … 스토리지가 부족하면 Drive에 저장하거나 Google 포토를 백업하거나 Gmail을 사용할 수 없습니다. 1개월 동안 100GB 스토리지를 ₩2,400 ₩600에 이용하세요.
/* 언어설정 */
@charset 'UTF-8';

/* 전체설정 */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
ol {
    list-style: none;
}

img {
    border: 0;
    vertical-align: bottom;
}

/* 헤더가로정렬 */
.boxA {
    display: flex;
    align-items: center;
}

.boxA-1 {
    width: 20%;
}

.boxA-2 {
    width: 80%;
}


/* 전체wrap 설정 */
.boxB {
    display: flex;
    flex-wrap: wrap;
}

.landing {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.box1 {
    width: 100%;
}

.box2 {
    width: 70%;
}

.box3 {
    width: 30%;
}

.box4 {
    width: 100%;
}

.box5 {
    width: 100%;
}

.box6 {
    width: 100%;
}

.box7 {
    width: 100%;
}

.box8 {
    width: 100%;
}

.box9 {
    width: 100%;
}

.box10 {
    width: 100%;
}

.box11 {
    width: 100%;
}


/* 전체 레이아웃 설정 */


/* 박스B 해더 아래로 내려보내기 */
.boxB {}

/* 랜딩페이지 설정 */
.landing {

    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
}

.box1 {
    width: 100%;
}

.box2 {
    width: calc(70% - 20px);
    margin-right: 20px;
}

.box3 {
    width: 30%;
}

.box3-inner {height: 100%;}

.box3-1 {
    height: calc(20% - 10px);
    margin-bottom: 10px;

}

.box3-2 {
    height: 80%;
}

.box3-1-1 {
    width: calc(50% - 10px);
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.box3-1-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}


.box4 {}

.box4-1 {}

.box4-2 {}

.review {
    display: flex;
}



/* 공지사항 가로정렬 */
.box1 {
    display: flex;
}

/* 운영시간 및 요금 가로정렬 */
.box3-1 {
    display: flex;
}

/* 리뷰 가로정렬 */
.box4 {}

.box4-1 {
    display: flex;
}

.box4-2 {
    display: flex;
}

/* 세부시설 가로정렬 */
.box8 {
    display: flex;
}

.box8-1 {
    width: 30%;
}

.box8-2 {
    width: 70%;
}

/* 찾아오시는 길 가로정렬 */
.box10 {
    display: flex;
}

.box10-1 {
    width: 70%;
}

.box10-2 {
    width: 30%;
}

/* 자주하시는 질문 가로 정렬 */
.box11 {
    display: flex;
}

.box11-1 {
    width: 50%;
}

.box11-2 {
    width: 50%;
}



/* 상세설정!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* 헤더고정시키기 */
.boxA {

    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
}

/* 로고설정 */
h1 a {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 a:hover {
    opacity: 0.7;
}

/* 유틸리티 설정 */
.util {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;

}

/* gnb 설정 */
.gnb {}

.gnb ul {
    display: flex;
}

.gnb ul li {}

.gnb ul li a {
    display: block;
    font-size: 18px;
    padding: 10px;
}

/* 공지사항 설정하기 */
.box1 {
    height: 50px;
    background-color: #eee;
    border-radius: 10px;
    margin: 20px 0;
    align-items: center;
    padding: 0 10px;
}

.box1-1 {
    margin-right: 20px;
    border-radius: 10px;
    /* background-color: #888; */
    padding: 10px 0;
}

.notice_title {
    background-color: #6099F8;
    border-radius: 10px;
    padding: 2px 7px;
    color: #fff;

}

.notice {
 
}

.box1-2 {}

/* 슬라이드 영상 설정하기 */
.box2 {
    height: 600px;
    background-color: #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box2 p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 p a {}



/* 운영요금 및 시간/ 예약 설정하기 */
.box3 {}

.box3-1 {}

.box3-1-1 {
    background-color: #eee;
    border-radius: 20px;
    padding: 5px 5px;
    box-sizing: border-box;

}

.box3-1-2 {
    background-color: #eee;
    border-radius: 20px;
    padding: 5px 5px;
    box-sizing: border-box;
}

.box3-2 {
        
        padding: 20px;
        box-sizing:border-box ;

}

.box3-2-1 {
    background-color: #eee;
    width: 100%;
    height: 300px;
}

.box3-2-1 p {}

.box3-2-2 {}

.box3-2-3 {}

.box3-2-4 {}

/* 운영시간 상세 설정하기 */
.time_title {


}

.time_txt {
    display: flex
}

/* 운영요금 상세 설정하기 */
.fee_title {

    border-left: red;
}

.fee_txt {
    display: flex;
   
}

.box3-2 {
    background-color: #777;
    border-radius: 10px;
}






/* 리뷰설정하기 */
.box4 {
    padding: 40px;
  
    /* background-color: #aaa; */
}

.box4-1 {
    display: flex;
    justify-content: space-between;
}

.review {
    background-color: #eee;
    margin: 10px;
}

.review_txt {
    background-color: #ccc;
    margin: 10px;
}

.review_txt>p {
    text-align: left;
}

.review_img {
    background-color: #999;
    margin: 10px;
}

/* 아쿠아리움 친구들 설정하기 */
.box5 {
    height: 500px;
    background-color: #999;
}

.box5-1 {}

.box5-2 {}

.box5-3 {}

.box5-4 {}

/* 배너1 설정하기 */
.box6 {
    height: 100px;
    background-color: #888;
}

/* 프로그램 설정하기 */
.box7 {
    height: 500px;
    background-color: #777;
}

.box7-1 {}

.box7-2 {}

.box7-3 {}

/* 세부시설 설정하기 */
.box8 {
    height: 700px;
    background-color: #666;
}

.box8-1 {}

.box8-2 {}


/* 배너2 설정하기 */
.box9 {
    height: 100px;
    background-color: #555;
}


/* 찾아오시는 길 설정하기 */
.box10 {
    height: 700px;
    background-color: #444;
}

.box10-1 {}

.box10-2 {}


/* 자주하시는 질문 설정하기 */
.box11 {
    height: 700px;
    background-color: #333;
}

.box11-1 {}

.box11-2 {}



/* 푸터설정하기 */
footer {
    height: 300px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}





/* 전체사이즈설정 */
.boxA,
.boxB,
.boxC {
    max-width: 1400px;
    margin: 0 auto;
}

/* 피드백~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* 폼태그설정하기 */

.box3-2 form{margin-top: 10px;
            border-top: 1px solid #000;}
.box3-2-2 p {font-size: 12px;
                color: #ff0000;}


.box3-2-3 {margin-top: 20px;}
.box3-2 input[type="number"]{width: 100%;
                            height: 30px;
                            font-size: 16px;}

.box3-2-4 {text-align: center;
    margin-top: 20px;}                           
.box3-2 input[type="submit"] {
    width: 60%;
    height: 30px;
    border-radius: 8px;
    border: none;
   
}


/* 리뷰구간설정 */

.box4-1 div:nth-child(1) {font-size: 16px;}




/* 미디어쿼리구간########################################################################### */

/* 모바일구간 */
@media(max-width:599px) {}

/*599px 이하 설정완료 구간*/

/* 태블릿구간 */
@media(min-width:768px) {}

/*768px이상 설정완료 구간*/

/* PC용 구간 */
@media(min-width:960px) {}