/* 언어설정 */
@charset 'UTF-8';

/* 전체설정 */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
ol {
    list-style: none;
}

img {
    border: 0;
    vertical-align: bottom;
}

/* 헤더가로정렬 */
.boxA {
    display: flex;
}

.boxA-1 {
    width: 20%;
}

.boxA-2 {
    width: 80%;
}


/* 전체wrap 설정 */
.boxB {
    display: flex;
    flex-wrap: wrap;
}

.landing{width: 100%;}
.box1 {
    width: 100%;
}

.box2 {
    width: 70%;
}

.box3 {
    width: 30%;
}

.box4 {
    width: 100%;
}

.box5 {
    width: 100%;
}

.box6 {
    width: 100%;
}

.box7 {
    width: 100%;
}

.box8 {
    width: 100%;
}

.box9 {
    width: 100%;
}

.box10 {
    width: 100%;
}

.box11 {
    width: 100%;
}


/* 전체 레이아웃 설정 */

/* 박스B 해더 아래로 내려보내기 */
.boxB {
    padding-top: 100px;
}

/* 공지사항 가로정렬 */
.box1 {
    display: flex;
}

/* 세부시설 가로정렬 */
.box8 {
    display: flex;
}

.box8-1 {
    width: 30%;
}

.box8-2 {
    width: 70%;
}

/* 찾아오시는 길 가로정렬 */
.box10 {
    display: flex;
}

.box10-1 {
    width: 70%;
}

.box10-2 {
    width: 30%;
}

/* 자주하시는 질문 가로 정렬 */
.box11 {
    display: flex;
}

.box11-1 {
    width: 50%;
}

.box11-2 {
    width: 50%;
}



/* 상세설정!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* 헤더고정시키기 */
.boxA {

    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
}

/* 로고설정 */
h1 a {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 a:hover {
    opacity: 0.7;
}

/* 유틸리티 설정 */
.util {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;

}

/* gnb 설정 */
.gnb {}

.gnb ul {
    display: flex;
}

.gnb ul li {}

.gnb ul li a {
    display: block;
    font-size: 18px;
    padding: 10px;
}

/* 공지사항 설정하기 */
.box1 {
    height: 30px;
    background-color: aqua;
}

.box1-1 {}

.box1-2 {}

/* 슬라이드 영상 설정하기 */
.box2 {
    height: 600px;
    background-color: #ccc;
}

/* 예약하기 설정하기 */
.box3 {
    height: 600px;
    background-color: #bbb;
}

/* 리뷰설정하기 */
.box4 {
    height: 150px;
    background-color: #aaa;
}


/* 아쿠아리움 친구들 설정하기 */
.box5 {
    height: 500px;
    background-color: #999;
}

.box5-1 {}

.box5-2 {}

.box5-3 {}

.box5-4 {}

/* 배너1 설정하기 */
.box6 {
    height: 100px;
    background-color: #888;
}

/* 프로그램 설정하기 */
.box7 {
    height: 500px;
    background-color: #777;
}

.box7-1 {}

.box7-2 {}

.box7-3 {}

/* 세부시설 설정하기 */
.box8 {
    height: 700px;
    background-color: #666;
}

.box8-1 {}

.box8-2 {}


/* 배너2 설정하기 */
.box9 {
    height: 100px;
    background-color: #555;
}


/* 찾아오시는 길 설정하기 */
.box10 {
    height: 700px;
    background-color: #444;
}

.box10-1 {}

.box10-2 {}


/* 자주하시는 질문 설정하기 */
.box11 {
    height: 700px;
    background-color: #333;
}

.box11-1 {}

.box11-2 {}



/* 푸터설정하기 */
footer {
    height: 300px;
    background-color: #222;
}





















/* 전체사이즈설정 */
.boxA,
.boxB,
.boxC {
    max-width: 1200px;
    margin: 0 auto;
}




/* 미디어쿼리구간########################################################################### */

/* 모바일구간 */
@media(max-width:599px) {}

/*599px 이하 설정완료 구간*/

/* 태블릿구간 */
@media(min-width:768px) {}

/*768px이상 설정완료 구간*/

/* PC용 구간 */
@media(min-width:960px) {}